/* Impostazioni base */
body {
font-family: 'Roboto', sans-serif;
margin: 20px; /* il margine è lo spazio esterno */
padding: 0; /* il padding è lo spazio interno */
line-height: 1.6; /* altezza della linea */
background-color: #e31818;
color: #ce1d1d;
}

/* NAVBAR */
.container-fluid {
background-color: #cf4a36;
padding: 10px;
text-align: right; /* altri valori: left, right, justify */
}


/* SEZIONI */
section {
padding: 40px 20px;
border-bottom: 1px solid #000000;
}
/* TITOLI */
h1{
    text-align: center;
    padding: 10px;
}

/* PARAGRAFI */
p {
    margin: 1em 0; /* em è l'unità di misura relativa alla dimensione del font cioè 1em = 16px */
    font-size: 15px;
    text-align: center;
}

.btn-custom {
    background-color: red !important;
}
.btn-custom:hover{
    background-color: lightblue !important;
}

/* LINK */
a {
    color: #0066cc;
    transition: color 0.5s;
    
}

.progress{
    margin-top: 10px;
}

/* HEADER */
header {
    position: sticky; /* sticky permette di mantenere l'header visibile durante lo scroll */
    top: 0; /* top specifica la distanza dal bordo superiore della pagina */
    z-index:100; /* z-index specifica l'ordine di sovrapposizione degli elementi */
}

/* MAIN */
main {
    max-width: auto;
    margin: auto; /* margin auto centra l'elemento verticalmente e orizzontalmente */
    padding: 0px;
    background-color: rgb(230, 176, 74);
}

/* FOOTER */
footer {
    background-color: #cf4a36;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9em; /* em è l'unità di misura relativa alla dimensione del font */
}
#github{
    background-color: #222;
}
#whatsapp{
    background-color: #26ff00;
}
#linkedin{
    background-color: #0004ff;
}
#email{
    background-color: #ff0000;
}
